body
{
  color: white;
  background: #0048f0;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.heading
{
  letter-spacing: 10px;
  font-size: 20px;
  border-radius: 10px;
}
label
{
color:blueviolet;
background-color: aquamarine;
border-radius: 15px;
padding: 5px;
}
p
{
font-size:25px;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif


}